*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    @font-face {
        font-family: Jost; 
        src: url('../fonts/Jost.ttf'); 
    }
    
    @font-face {
        font-family: Vetrino; 
        src: url('../fonts/ofont_Vetrino.ttf'); 
    }
    

    .cart{
        width: 31px;
        height: 31px;
        text-align: center;
        border-radius: 50%;
        background-color: #ffffff;
        border: 0px;
        margin-left: 10px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        font-family: Jost;
        cursor: pointer;
        }

        .pc-body-filter{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 990;
            background-color: rgba(27, 27, 27, 0.656);
        }

        .display-block{
            display: block !important;
        }


        .popup {
            position: fixed;
            top: 0;
            right: 0;
            background-color: rgb(255, 255, 255); 
            z-index: 1000; 
            width: 50%;
            height: 100%;
            display: none; 
            user-select: none;
            overflow-y: scroll;
            transition: all 0.4s linear;
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: none;
          }
          

          .popup::-webkit-scrollbar { 
            width: 0 !important
         }
          
          .popup__container {
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: fit-content;
            min-height: 300px;
            background-color: #fff;
            /* border-radius: 4px; */
            position: relative;
        }
          
          
          .popup__item {
            padding-bottom: 30px;
            width: 80%;
            position: relative;
            margin: auto;
          }
          
          .popup__item:last-of-type {
            border-bottom: none;
          }
          
          .popup__title {
            font-size: 20px;
            text-transform: uppercase;
            font-family: Jost;
            font-weight: 300;
          }
          
          /* Стили для вывода товара */
          .popup__product {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-top: 30px;
            border-bottom: 1px solid #DDDDDD;
          }
          
          .popup__product-wrap {
            display: flex;
            align-items: center;
          }
          
          .popup__product-image {
            width: 80px;
            aspect-ratio: 69/100;
            object-fit: contain;
            margin-right: 20px;
          }

          .popup__product-flex{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 90px;
          }

          
          .popup__product-title {
            font-size: 18px;
            font-family: Jost;
            font-weight: 400;
          }

          .popup__product-color {
            font-family: Jost;
            font-weight: 400;
            font-family: Jost;
            font-size: 15px;
            color: #6e6e6e;
          }

          .popup__product-size {
            font-family: Jost;
            font-weight: 400;
            font-family: Jost;
            font-size: 15px;
            color: #6e6e6e;
          }
          
          .popup__product-price {
            font-size: 18px;
            font-family: Jost;
            font-weight: 450;
          }
          
          /* Стили для кнопки удаления товара */
          .popup__product-delete {
            font-size: 13px;
            cursor: pointer;
            color: #a8a8a8;
            background-color: transparent;
            border: none;
            margin-right: 30px;
          }
          
          /* Стили для вывода стоимости товаров */
          .popup__cost {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
          }
          
          .popup__cost-title {
            font-weight: 450;
            font-size: 20px;
            color: #000000;
            text-align: right;
            font-family: Jost;
            text-transform: uppercase;
          }
          
          .popup__cost-value {
            font-size: 23px;
            font-family: Jost; 
            font-weight: 450;
          }
          
          /* Стили для кнопки закрытия окна */
          .popup__close {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;
            color: rgb(0, 0, 0);
            font-size: 25px;
            background-color: transparent;
            border: none;
            font-weight: 300;
          }
          
          .popup__close:hover {
            color: rgb(102, 102, 102);
          }
          
          .popup--open {
            display: flex;
          }

          .card__price::after {
            font-family: Jost;
            content: "₽";
            margin-left: 5px;
            position: relative;
          }

          .oformlenie-button{
            font-size: 16px;
            padding-left: 80px;
            padding-right: 80px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-transform: uppercase;
            font-family: Jost;
            color: white;
            background-color: #8A6D57;
            border: none;
            margin-top: 50px;
            margin-bottom: 30px;
            display: flex;
            float: right;
            cursor: pointer;
          }

          #like-stroke{
display: block;
cursor: pointer;
          }

          #like-fill{
            display: none;
            cursor: pointer;
          }

          .flex-like{
            display: flex;
            align-items: center;
          }

          .predzakaz{
            display: block;
            font-family: Jost;
            text-transform: uppercase;
            border: none;
            padding-bottom: 2px;
            border-bottom: 2px solid;
            color: #2b2424;
            font-weight: 450;
            font-size: 15px;
            background-color: transparent;
            cursor: pointer;
          }

          .predzakaz:hover{
              color: #8A6D57; 
          }



          .form-predzakaz{
            display: none;
            min-width: 300px;
            width: fit-content;
            height: fit-content;
            padding: 50px;
            padding-top: 50px;
            z-index: 998;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
background: linear-gradient(225deg, #000000, #000000);
          }

          .predzakaz-title{
            font-size: 16px;
            font-family: Jost;
            color: white;
            padding-top: 30px;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 350;
          }

          .predzakaz-close{
            color: white;
            font-size: 40px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 10px;
          }

          .form-predzakaz svg{
            position: relative;
            margin: auto;
          }

          .input-predzakaz{
            margin-bottom: 30px;
          }

          .input-predzakaz input,
          .input-predzakaz textarea {
            height: 100%;
            width: 100%; 
            border: none;
            background: transparent;
            border-bottom: 2px solid rgba(255, 255, 255, 0.192);
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 300;
            font-size: 20px;
          }

          .input-predzakaz:focus-visible{
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            outline: none;
          }
        
          .input-predzakaz input:focus-visible{
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            outline: none;
          }
        
          .input-predzakaz::placeholder{
            color: white;
            font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px; /* 150% */
          }
        
        
          .input-predzakaz input::placeholder{
            color: white;
            font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px; /* 150% */
          }

      .button-predzakaz{
          margin-top: 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: flex-start;
          width: fit-content;
          margin-top: 20px;
          margin-bottom: 20px;
      }

      .button-predzakaz svg{
        margin-right: 10px;
        display: block;
      }

      .button-predzakaz input[type="submit"] {
        color: #ffffff;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background: transparent;
        border: 0px;
        display: block;
    }

    .button-predzakaz:hover svg{
      transform: translateX(-8px);
      transition: all .5s;
    }


    .iksweb{
      position: relative;
      margin: auto;
      width: fit-content;
      border-collapse:collapse;
      border-spacing:0;
      height: auto;
    }

    .iksweb td{
      border: 1px solid #000000;
      color: black;
      padding: 15px;
      min-width: 30px;
      width: fit-content;
      height: 35px;
      font-family: Jost;
      font-size: 15px;
      text-align: center;
    }

    .table-size{
      display: none;
      width: fit-content;
      height: fit-content;
      padding-top: 60px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      z-index: 998;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: rgb(255, 255, 255);
    }
    
    .close-table-size{
      color: rgb(0, 0, 0);
      font-size: 40px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 10px;
    }
    
.table-size-button{
  background-color: transparent;
  border: none;
  width: fit-content;
  cursor: pointer;
  color: #6e6e6e;
  font-size: 15px;
  font-family: Jost;
  position: relative;
  margin-top: 10px;
}

.table-size-button:hover{
  color: black;
}

.form-div-echo-main{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(27, 27, 27, 0.656);
  z-index: 999;
  top: 0;
  left: 0;
}

.form-div-echo-main-error{
  display: none;
  width: fit-content;
  height: fit-content;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form-div-echo{
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}

.form-div-echo-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-div-echo-title{
  text-transform: uppercase;
  font-family: Jost;
  font-size: 15px;
  font-weight: 450;
  color: #8A6D57 !important;
  margin-bottom: 0px !important;
}

.form-div-echo-p{
  font-family: Jost;
  font-size: 15px;
  color: #000000 !important;
  margin-bottom: 0px !important;
  margin-top: 10px;
}

.form-delete{
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
  color: #8A6D57;
  font-weight: 300;
  font-family: Jost;
}

.form-delete-error{
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
  color: #8A6D57;
  font-weight: 300;
  font-family: Jost;
}


.card-quantity-flex{
  position: relative;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  font-family: Jost;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  align-items: center;
}

.quantity-minus{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  color: #8e8e8e;
  font-family: Jost;
}

.quantity-plus{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  color: #8e8e8e;
  font-family: Jost;
}

.card-quantity{
  padding-left: 15px;
  padding-right: 15px;
  font-family: Jost;
}

.card-characteristic{
  color: #8e8e8e;
  text-transform: capitalize;
  font-size: 15px;
  margin-right: 30px;
  font-family: Jost;
}

.quantity-minus-inner{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  color: #8e8e8e;
  font-family: Jost;
}


.card-quantity-inner{
  padding-left: 15px;
  padding-right: 15px;
  font-family: Jost;
}